<div class="container">
    <app-nav></app-nav>
    <h2>Nuevo Post</h2>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Titulo</label>
            <input type="text" class="form-control" formControlName="titulo">
        </div>
        <div class="mb-3">
            <label class="form-label">Que quieres compartir?</label>
            <input type="textarea" class="form-control" formControlName="texto">
        </div>
        <div class="mb-3">
            <label class="form-label">Autor</label>
            <input type="text" class="form-control" formControlName="autor">
        </div>
        <div class="mb-3">
            <label class="form-label">Imagen</label>
            <input type="text" class="form-control" formControlName="imagen">
        </div>
        <div class="mb-3">
            <label class="form-label">Categoria</label>
            <input type="text" class="form-control" formControlName="categoria">
        </div>
        <input type="submit" value="Send" class="btn btn-warning">
    </form>
</div>